/* global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a.link {
  box-shadow: inset 0 -.2em #84DCC6;
  transition: box-shadow .2s;
}

a.link:hover {
  box-shadow: inset 0 -1em #84DCC6;
}

body {
  background-color: #FAFAFA;
  color: #222222;
  font-family: 'trebuchet ms', 'Verdana', 'verdana ref', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #84DCC6;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  padding: .5rem .5rem;
}

/* header styles */
#header {
  align-items: center;
  display: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#header > .title {
  font-size: 2rem;
  padding: .5rem 3rem;
}

#header > .nav-bar > .nav-bar-item {
  font-size: 1rem;
  margin-left: 1.5rem;
}

/* main styles */
#main {
  flex: 1 0 auto;
}

/* footer styles */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: small;
}

#footer > * {
  font-size: .8rem;
}

#footer > .footnote {
  text-align: center;
}
