#main {
    max-width: 768px;
}

#main > .post + .post {
    margin-top: 1rem;
}

#main > .post > h2 {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5rem;
}

#main > .post > h2 > time {
    color: gray;
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    min-width: 5rem;
}

#main > .post > div {
    margin-left: 2rem;
}
