#main > h1 {
    text-align: center;
}

#main > .content {
    padding-top: 1rem;
}

#main > .warning {
    background-color: brown;
    color: white;
    font-size: 1.1rem;
    margin: 2rem 0;
    padding: 1rem 0;
    text-align: center;
}

#main .toc {
    display: inline-block;
    margin: 1rem;
    padding: .5rem 1rem;
}

#wrapper.light #main .toc {
    background-color: #EEEEEE;
    border: black 1px dashed;
}

#wrapper.dark #main .toc {
    background-color: #25262a;
    border: #EEEEEE 1px dashed;
}

#main .toc a:hover {
    text-decoration: underline;
}

#main .toc li > ul {
    margin-left: 1.5rem;
}

#main .toc ul {
    list-style: none;
}

#wrapper.light #main :target {
    background-color: azure;
}

#wrapper.dark #main :target {
    background-color: #073b3b;
}

.author-info {
    margin: .5em 0 .5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.author-info > div {
    max-width: 80%;
    min-width: 300px;
    padding: 0 2em 0 2em;
}

.author-info > div > h5 {
    font-size: 1.2em;
}

.author-info > img {
    max-width: 150px;
    border-radius: 40px;
}

.content a {
    text-decoration: underline;
}

#wrapper.light .content a {
    color: #AA0000;
}

#wrapper.dark .content a {
    color: #50fa7b;
}

.content > p {
  margin-bottom: 1.8em;
}
