<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
{{ partial "metadata.html" . }}
{{ block "head" . }}{{ end }}
{{ if or .Params.math .Site.Params.math.enable }}
{{ partial "math.html" . }}
{{ end }}
</head>

<body>
  <div id="wrapper">
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </div>

  <!-- custom css -->
  {{ range .Site.Params.customCSS }}
  <link media="screen" rel="stylesheet" href="{{ . | absURL }}" />
  {{ end }}

  <!-- custom js -->
  {{ range .Site.Params.customJS }}
  <script src="{{ . | absURL }}"></script>
  {{ end }}

  <!-- google analytics -->
  {{ template "_internal/google_analytics_async.html" . }}

</body>

</html>
