<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- author -->
  <meta name="author" content="{{ .Site.Author.name }}">

  <!-- description -->
  {{ if .Description }}
  <meta name="description" content="{{ .Description }}">
  {{ else if and .IsPage .Summary }}
  <meta name="description" content="{{ .Summary }}">
  {{ else }}
  <meta name="description" content="{{ .Site.Params.description }}">
  {{ end }}

  <!-- favicon -->
  <link rel="icon" href="{{ .Site.Params.favicon | absURL }}">

  <!-- keywords -->
  {{ if .Keywords }}
  <meta name="keywords" content="{{ range $key, $value := .Keywords }} {{ $value }} {{ end }}">
  {{ else }}
  <meta name="keywords" content="{{ range $key, $value := .Site.Params.keywords }} {{ $value }} {{ end }}">
  {{ end }}

  <!-- math -->
  {{ if cond (ne .Params.math nil) .Params.math .Site.Params.math.enable }}
  {{ partial "math.html" . }}
  {{ end }}

  <!-- opengraph -->
  {{ template "_internal/opengraph.html" . }}

  <!-- permalink -->
  <link rel="canonical" href="{{ .Permalink }}">

  <!-- rss -->
  {{ range .AlternativeOutputFormats -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  <!-- schema -->
  {{ template "_internal/schema.html" . }}

  <!-- style -->
  <link media="screen" rel="stylesheet" href='{{ "css/common.css" | absURL }}'>
  <link media="screen" rel="stylesheet" href='{{ "css/content.css" | absURL }}'>

  <!-- title -->
  {{ if .IsHome }}
  <title>{{ .Site.Title }}</title>
  {{ else }}
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  {{ end }}

  <!-- twitter -->
  {{ template "_internal/twitter_cards.html" . }}

  {{ block "head" . }}{{ end }}
</head>

<body>
  <div id="wrapper">
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </div>

  <!-- custom css -->
  {{ range .Site.Params.customCSS }}
  <link media="screen" rel="stylesheet" href="{{ . | absURL }}" />
  {{ end }}

  <!-- custom js -->
  {{ range .Site.Params.customJS }}
  <script src="{{ . | absURL }}"></script>
  {{ end }}

  <!-- google analytics -->
  {{ template "_internal/google_analytics_async.html" . }}

</body>

</html>
