{{ define "head" }}
<link rel="stylesheet" href='{{ "css/list.css" | absURL }}'>
{{ end }}

{{ define "main" }}
<main id="main" class="archive">
  {{ $url := urls.Parse .Permalink }}
  {{ $slug := substr $url.Path 1 (sub (len $url.Path) 2) }}
  {{ $pages := where .Site.Pages "Type" $slug }}
  {{ if (eq 0 (len $pages))}}
  {{ $istag := eq (substr $slug 0 4) "tags" }}
  {{ if $istag }}
  {{ $slug = substr $slug 5 (sub (len $slug) 5) }}
  {{ $pages = where .Site.Pages "Params.tags" "intersect" (split $slug " ") }}
  {{ end }}
  {{end}}
  {{ range $pages.GroupByDate "2006-01" }}
  <div class="post-group">
    <h2>{{ dateFormat "January 2006" (printf "%s-01" .Key) }}</h2>
    <ul>
      {{ range .Pages }}
      <li>
        <a class="link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time>{{ .PublishDate.Format .Site.Params.dateFormat }}</time>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
  {{ if (lt 0 (len $pages))}}
  <div class="post-group">
    <h2>...</h2>
  </div>
  {{ else }}
  <div class="post-group">
    <p>{{.Site.Author.name}} hasn't posted any content here yet. Check back soon!</p>
  </div>
  {{ end }}
</main>
{{ end }}
