{{ define "head" }}
<link rel="stylesheet" href='{{ "css/list.css" | absURL }}'>
{{ end }}

{{ define "main" }}
<main id="main" class="archive">
  {{ $pages := where .Data.Pages "Type" "post" }}
  {{ range $pages.GroupByDate "2006-01" }}
  <div class="post-group">
    <h2>{{ dateFormat "January 2006" (printf "%s-01" .Key) }}</h2>
    <ul>
      {{ range .Pages }}
      <li>
        <a class="link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time>{{ .PublishDate.Format .Site.Params.dateFormat }}</time>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
  <div class="post-group">
    <h2>...</h2>
  </div>
</main>
{{ end }}
