<!DOCTYPE html>
<html lang="zh-cn">
{{ partial "head.html" . }}

<body>
  <div id="wrapper">
    {{ partial "header.html" . }}
    <div id="main">
      <ul>
        {{ range .Data.Pages }}
        <li>
          <div class="post-item">
            <a href={{ .RelPermalink }}>{{ .Title }}</a>
            <span class="post-publish-date">{{ .PublishDate.Format "2006-01-02" }}</span>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ partial "footer.html" . }}
  </div>
</body>

</html>