<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- author -->
<meta name="author" content="{{ .Site.Author.name }}">

<!-- description -->
{{ if .Description }}
<meta name="description" content="{{ .Description }}">
{{ else if and .IsPage .Summary }}
<meta name="description" content="{{ .Summary }}">
{{ else }}
<meta name="description" content="{{ .Site.Params.description }}">
{{ end }}

<!-- favicon -->
<link rel="icon" href="{{ .Site.Params.favicon }}">

<!-- keywords -->
{{ if .Keywords }}
<meta name="keywords" content="{{ range $key, $value := .Keywords }} {{ $value }} {{ end }}">
{{ else }}
<meta name="keywords" content="{{ range $key, $value := .Site.Params.keywords }} {{ $value }} {{ end }}">
{{ end }}

<!-- mathjax -->
{{ if .Site.Params.enableMathjax }}
{{ partial "mathjax.html" . }}
{{ end }}

<!-- permalink -->
<link rel="canonical" href="{{ .Permalink }}">

<!-- rss -->
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- site title -->
{{ if .IsHome }}
<title>{{ .Site.Title }}</title>
{{ else }}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

<!-- style -->
<link media="screen" rel="stylesheet" href='{{ "css/common.css" | absURL }}'>
<link media="screen" rel="stylesheet" href='{{ "css/content.css" | absURL }}'>
<link media="screen" rel="stylesheet" href='{{ "css/highlight.css" | absURL }}'>

<!-- twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Summary }}" />

