{{ define "head" }}
<link rel="stylesheet" href='{{ "css/index.css" | absURL }}'>
{{ end }}

{{ define "main" }}
<main id="main" class="index">
  <p id="home-message">{{.Site.Params.homemessage | safeHTML }}</p>
  {{ $projects := where .Site.Pages "Type" "project" }}
  {{ if (lt 0 (len $projects))}}
  <h2>Projects</h2>
  {{ end }}
  {{ range first 5 $projects }}
  <div class="post">
    <h3>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      <time>{{ .PublishDate.Format .Site.Params.dateFormat }}</time>
    </h3>
    <div class="content">
      {{ if .Site.Params.emphasisWithDots }}
      {{ .Summary | replaceRE "<strong>(\\p{Han}+?)</strong>" "<strong class=chinese>$1</strong>" | safeHTML }}
      {{ else }}
      {{ .Summary }}
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ if (lt 5 (len $projects))}}
  <a class="link" href="/project/" style="margin-top: 0.8em;">More projects</a>
  {{ end }}
  {{ $blogposts := where .Site.Pages "Type" "blog" }}
  {{ if (lt 0 (len $blogposts))}}
  <h2>Blog Posts</h2>
  {{ end }}
  {{ range first 5 $blogposts }}
  <div class="post">
    <h3>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      <time>{{ .PublishDate.Format .Site.Params.dateFormat }}</time>
    </h3>
    <div class="content">
      {{ if .Site.Params.emphasisWithDots }}
      {{ .Summary | replaceRE "<strong>(\\p{Han}+?)</strong>" "<strong class=chinese>$1</strong>" | safeHTML }}
      {{ else }}
      {{ .Summary }}
      {{ end }}
    </div>
  </div>
  {{ end }}
</main>
{{ end }}
