<!DOCTYPE html>
<html lang="zh-cn">
{{ partial "head.html" . }}
<link rel="stylesheet" href='{{ "css/index.css" | absURL }}'>

<body>
  <div id="wrapper">
    {{ partial "header.html" . }}
    <div id="main" class="index">
      <div class="avatar">
        <img class='{{ cond .Site.Params.avatar_round "round" ""}}' src="{{ .Site.Params.avatar_url }}" alt="avatar">
      </div>
      <div class="slogan">{{ .Site.Params.slogan | safeHTML }}</div>
      <div class="social-links">
        {{ range .Site.Params.social_link }}
        <a href="{{ .url }}" alt="{{ .name }}"
          style="mask-image: url({{ .icon }}); -webkit-mask-image: url({{ .icon }})">
        </a>
        {{ end }}
      </div>
    </div>
    {{ partial "footer.html" . }}
  </div>
</body>

</html>