<!DOCTYPE html>
<html lang="zh-cn">
{{ partial "head.html" . }}
<style>
  .index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .avatar img {
    width: 20rem;
    height: auto;
  }

  .icon {
    height: 32px;
    width: 32px;
  }
</style>

<body>
  {{ partial "header.html" . }}
  <div id="main" class="index">
    {{ .Site.Params.index_slogan | safeHTML }}
    <div class="avatar">
      <img src="{{ .Site.Params.avatar_url }}" alt="avatar">
    </div>
    <div class="social_link">
      {{ range .Site.Params.social_link }}
      <a href={{ .url }}>
        <img class="icon" src={{ .icon }} alt={{ .name }}>
      </a>
      {{ end }}
    </div>
  </div>
  {{ partial "footer.html" . }}
</body>

</html>